# =========================
# Environment variables
# =========================
.env

# =========================
# Django
# =========================
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

media/
staticfiles/

# =========================
# Ignore sensitive app logic
# =========================
main_application/models.py
main_application/migrations/
main_application/admin.py
main_application/management/commands/

# Optional: ignore services / business logic
main_application/services/
main_application/utils/

# =========================
# IDEs
# =========================
.vscode/
.idea/
